﻿.modal-content.success {
    background-color: #dff0d8;
}

.modal-body > h3.success {
    color: #3c763d;
}

.modal-content.info {
    background-color: #d9edf7;
}

.modal-body > h3.info {
    color: #31708f;
}

.modal-content.danger {
    background-color: #f2dede;
}

.modal-body > h3.danger {
    color: #a94442;
}


.modal-body {
    text-align: center;
}

    .modal-body > h3 {
        font-weight: 400;
    }

        .modal-body > h3 > span {
            font-size: 25px;
            margin-right: 5px;
        }

        .modal-body > h3 > strong {
            text-transform: uppercase;
        }
