﻿@{
    ViewBag.Title = "Home Page";
}
@section styles
{
    <link href="~/Content/ModelManager.css" rel="stylesheet" />
}
@section scripts
{
    <script src="~/Scripts/ModalManager.js"></script>
    <script src="~/Scripts/Scripts.js"></script>
}
<div class="row">
    <div class="col-sm-12">
        <button id="ToggleBtn" class="btn btn-primary">Toggle</button>
    </div>
</div>
